# Copia este archivo como .env.local y completa los valores
# NUNCA subas .env.local a git

RIPLEY_STORE_ID=10025

SUPABASE_URL=https://djfaqgrzjtafloxoaeuz.supabase.co
SUPABASE_KEY=sb_publishable_N1shi6oAYFG6KrL-sYyyEA_m9_EVdzb
